<center><h1><u>TDP-Teacher Digital Portfolio <br></u>
<h3><i>because plain CV is not enough ...</i></h1><br></h3>
<p>Please Click Here to Learn More about my <u><%= link_to " Dynamic Website", product_path(4) %></u> </p>

<h3>TDP is a company established in 2017 in Beijing, China.<br>
 It was created by the passionate language teacher, Greg Dopart.<br> Having tried to connect his passion for coding and education,<br> he came up with the idea of helping international school teachers with creating <br>their digital portfolios. Adding a filmography, including short interviews<br> with students, staff members and parents was a bull's eye!<br><br>
 <p> Read More about my <%= link_to "Static Website", product_path(5) %> here. Or seed generate product <a href=/products/6> Products</a> here!
</h3>

 <%= image_tag("gregi.png") %></center>

