<body>
  <div class="questions">
    <h2>Why should I use your service?</h2>
    <h3>Let's face it ... Competition in International School is huge. Over 100 teachers applying for one position is the reality. Dream destination school with amazing students, free accommodation, flight allowance, bonuses, insurance, education for your children, unbeliavable saving potential, is a goal of many ... These days a plain CV is not enough. TDP will help you to make a huge step towards your goal by creating digital portfolio! Something that will drop the jaws of your future employers down. Something that will tell them: <br><br>"WE FOUND THE RIGHT PERSON!"</h3>
    <br><br>
    <h2> What is included in the price? </h2>
    <h3 style="text-align:center">The outcome of my service will be a link to your personal website. 
      That will include: your teaching experience, philosophy and goals.
      You will also find beautifully presented CV that will definitely catch attention of your future employer.
      However, the most important aspect of TDP is a filmography. You will be filmed while interacting with students, talking about your interests or demonstrating your hobbies outside of a school building. Adding interviews with principals,students and colleagues will definitely help you to get a job that you dream off!
    </h3>
  </div>
</body>