<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the world of drones</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">
 
  </head>
  <body>
    <div class="cover-image">
      <div class="cover-page text-center">
        <div class="hero">
          <h1 class="hero-title" data-aos="zoom-in">Welcome to the world of </h1>
          <h2 class="hero-text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">drones</h2>
        </div>
        <span class="hero-scroll" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">Scroll down <br><a href="#main"><i class="fa fa-chevron-down bounce chevron"></i></a></span>

      </div>
    </div>

    <main class="dhoni-main" id="main">
      <div class="container" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in"> <!-- I again had to add this extra div or container to fix issue I had with AOS library I keep sending me to mid of dhoni-intro, not at the begging -->
        <div class="row dhoni-intro">
          <div class="col-md-6">
            <h2 class="text-center"> Greg Dopart</h2>
            <hr class="hr-style">
            <p class="text-justify">The company Dronnie was established in 2015 by a passionate drone flyer. A simple present gift, soon became my new way of life. 2 years later I have designed my first model, called XYZ 13, that became one of the most popular drones flown in Europe. I am happy to share that passion with you. It doesn't matter if you are 8 or 80. As long as you like drones, this page is for you!</li>
          </div>
          <div class="col-md-6 text-center">
            <img src="https://image.ibb.co/iMBtsd/imageedit_1_4558346144.png" class="img-responsive img-thumbnail dhoni-title-image" alt="Drone in the Sky">
          </div>
        </div>

    <div class="cover-image-2" data-aos="fade-up" data-aos-duration="1000"  data-aos-easing="ease-in" >
    </div>

    <section class="container dhoni-timeline" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in">
      <h2 class="text-center" id="title-mobile">In  our shop you will find</h2>
      <h2 class="text-center" id="title-desktop">In Our Offer You Will Find</h2>
      <hr class="hr-style">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <ul>
            <li><strong>Quality</strong> We promise to give you the best quality product that you deserve. We believe in that so much, that we decided to give you 50 years of guarantee for free!</li>
            <br>
            <li><strong>Price</strong> Depending on your spending habits, you may choose between cheap and more epensive drones. Call us, and we will be happy to answer all your questions!</li>
             <br>
            <li><strong>Fun</strong> Drones will give you tones of fun. If you haven't tried it yet, buy yourself a drone TODAY!</li>
              <br>
              <br>
              <br>
              <br>
  </body>
</html>
