<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= csrf_meta_tags %>
<body>
  <section class="video-container">
  <video src="https://storage.googleapis.com/coverr-main/mp4/Keep_Running.mp4" autoplay loop playsinline muted></video>
  <div class="callout">
    <h1>Object-Fit 👍</h1>
    <div>The CSS Background-Size: Cover for Inline Images &amp; Videos</div>
  </div>
  <div class="support">
     <a href="http://caniuse.com/#search=object-fit">Browser Support</a><br>
     <a href="https://github.com/jonathantneal/fitie">Need to support IE &amp; Edge?</a>
  </div>
</section>
    <div class="cover-image">
      <div class="cover-page text-center">
        <div class="hero">
          <h1 class="hero-title" data-aos="zoom-in">Welcome to the world of </h1>
          <h2 class="hero-text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">drones</h2>
        </div>
        <span class="hero-scroll" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">Scroll down <br><a href="#main"><i class="fa fa-chevron-down bounce chevron"></i></a></span>

      </div>
    </div>


    <main class="dhoni-main" id="main">
      <div class="container" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in"> <!-- I again had to add this extra div or container to fix issue I had with AOS library I keep sending me to mid of dhoni-intro, not at the begging -->
        <br>
        <br>
        <br>
        <div class="row dhoni-intro">
          <div class="col-md-6">
            <h2 class="text-center">Welcome to Dronnie</h2>
            <hr class="hr-style">
            <p class="text-justify"> If you’re thinking about buying a drone, this is a great place to start. Whether you want to buy a camera dron, toy dron, or even hobby-grade racing drone, check out our <strong>product page</strong> for more details!  </li>
          </div>
          <div class="col-md-6 text-center">
            <img src="http://imagesvc.timeincapp.com/v3/foundry/image/?q=70&w=1440&url=https%3A%2F%2Ftimedotcom.files.wordpress.com%2F2017%2F07%2Finbeeld-hero-01.jpg%3Fquality%3D85" class="img-responsive img-thumbnail dhoni-title-image" alt="Drone in the Sky">
          </div>
        </div>
<br>
<br>
<br>
<br>
    <div class="cover-image-2" data-aos="fade-up" data-aos-duration="1000"  data-aos-easing="ease-in" >
    </div>

    <section class="container dhoni-timeline" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in">
      <br>
      <h2 class="text-center" id="title-mobile">In  our shop you will find</h2>
      <h2 class="text-center" id="title-desktop">In Our Offer You Will Find</h2>
      <hr class="hr-style">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <ul>
            <li><strong>Quality</strong> -  We promise to give you the best quality product that you deserve. We believe in that so much, that we decided to give you 50 years of guarantee for free!</li>
            <br>
            <li><strong>Price</strong>  - Depending on your spending habits, you may choose between cheap and more epensive drones. Call us, and we will be happy to answer all your questions!</li>
             <br>
            <li><strong>Fun</strong> -  Drones will give you tones of fun. If you haven't tried it yet, buy yourself a drone TODAY!</li>
              <br>
              <br>
              <br>
              <br>
  </body>
</html>