<div class="jumbotron jumbotron-fluid">
  <center>
    <div class="container">
      <h1 class="display-4">TDP</h1>
      <p class="lead">The website that will help International School Teachers to get an<br> amazing digital portfolio and land a job of of their dreams! </p>
    </div>
    
</div>
</center>
<center><%= image_tag("tdp.png") %></center>