
<br>
<br>
<br>
<br>
<center><%= link_to "Click Here to Get a Code to My App", "https://github.com/Gelin1984/TDP", class: "btn btn-primary btn-lg"%> 
<br>
<br>
 <div class='col-xs-12 col-sm-12 col-md-12'>
 <div class="row">

<center><h2 style="color:red;"><bold>Purpose and Context</bold></h2></center><br>
<center><bold><color:red>Dronnie</bold> is Ruby on Rails application, created during my Career Foundry Web-Development Course. This application is an e-shop with different kinds of drones.
<br>
<br>
<h2 style="color:red;"><bold>Approach</bold></h2>
<br>
My approach was guided by the course curriculum, in order to learn best practices for
developing a user-centered product. The process I used was part of my assignment,
with an extensive research of the idea and the use of some methods and tools for
collecting information such as interviews and questionnaires. 
<br>
<br>
<h2 style="color:red;"><bold>Challenge</bold></h2>
The	biggest	challenge that I have experienced was keeping pace with the speed of Career Foundry course, which was really intensive. Another challenge that I faced was having too many ideas. It was really hard to put all of them in one application.
Although <bold>Dronnie</bold> has a minimalist approach, It is very elegant.<br><br></center>
</div>
</div>
<br>
<br>


