<div class="panel panel-default">
  <div class="panel-body">
    <br>
    <h1>
      <center>
        <p>Thank you. We have received your message and will respond as soon as possible.</p>
    </h1>
    </center>
    <br>
    <center><%= link_to 'Click here to get back to Product Page',products_path, class: "btn btn-primary" %></center>
    <center><%= image_tag "http://www.psdgraphics.com/wp-content/uploads/2009/06/thank-you-note.jpg" %></center>
    <br>
  </div>
  <!-- / panel-body -->
</div>
<!-- / panel -->