<div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">

  <% @orders.each do |order| %>
  
      <h1>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order.product %>
      </h1>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>

