@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
body{
  background:#ccc;
}
.main {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
}

html {
  background-color: #FAFAFA;
}

h1 {
  font-weight: normal;
  font-size: 4em;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  color: #F90;
  text-align: center;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  font-size: 20px;
  color: red;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: .5;
}

.carousel-caption {
  font-size: 40px;
  color: red;
  padding-top: 100px;
  padding-bottom: 80px;
}

.item {
  padding-top: 20px;
  padding-bottom: 170px;
}
.carousel-indicators-numbers {
    li {
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      line-height: 30px;
      color: #fff;
      background-color: #999;
      transition: all 0.25s ease;
      &.active, &:hover {
        margin: 0 2px;
        width: 30px;
        height: 30px;
        background-color: #337ab7;        
      }
    }
}

.carousel-indicators {
    bottom: 30px;
}

/*Navigation Bar*/
.navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0px;
  display: right;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  z-index: 1;
}

.navbar ul li a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: red;
  transition: color 1000ms;
}

div.container-fluid {
  background-color: #FAFAFA;
}

.btn.btn-primary {
  color: black;
  background-color: lightblue;
}

.navbar a {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-transform: uppercase;
  color: white;
  vertical-align: center;
}

.navbar ul {
  float: left;
}

/*end of  Navigation Bar*/


/* Home Page Video */

.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media(min-width: 600px) {
    height: 100vh;
  }
}

video {
  object-fit: cover; // Set the magic
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* end of Home Page Video */


/* Flying Drones In Contact Page*/
@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }

  90% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}
/* Animation */
@keyframes myfirst {
  0% {
    margin-left: -235px;
  }

  70% {
    margin-left: 100%;
  }

  100% {
    margin-left: 100%;
  }
}

.fish {
  background-image: url('https://cdn.dribbble.com/users/988145/screenshots/3462363/drone-dribbb.gif');
  width: 335px;
  height: 204px;
  margin-left: -235px;
  position: absolute;
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

#fish {
  top: 50px;
}

#fish2 {
  top: 260px;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}


#form {
  height: 100%;
  background-color: #E7E8E8;
  overflow: hidden;
  position: relative;
}

form {
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: white;
  position: relative;
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border: solid 3px #77bde0;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

input[type="submit"] {
  background-color: #F90;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: 'Sniglet', cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #e58f0e;
}

label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

.formgroup,
.formgroup-active,
.formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

.formgroup {
  background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}

.formgroup-active {
  background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
  background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
  color: red;
}
/* End of Flying Drones In Contact Page*/



body {
  padding-top: 15px;
  color: #8f8f8f;
  background: #FAFAFA;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* Styling Home Page*/

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}

.cover-image-2 {
  width: 100vw;
  height: 100vh;
  background: url("https://image.ibb.co/gDTUDT/pexels_photo_442587.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-page {
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
}

@media screen and (max-height: 410px) {
  .hero-text {
    display: none;
  }
}